<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the Cats App</h1>
    <p>Your favorite place to manage your feline friends.</p>

    <img src="https://i.imgur.com/5ce6gMA.png" alt="Cats Image" />

    <div class="link-container">
      <a href="/cats">View All Cats</a>
      <a href="/cats/new">Add a New Cat</a>
    </div>
    
  </body>
</html>
