<head><link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="new-form">
    <h1>Add a New Cat</h1>
    <form action="/cats" method="POST">
      <div class="checkbox-container">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter cat's name" required>
      </div>
  
      <div class="checkbox-container">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" placeholder="Enter cat's age" required>
      </div>
  
      <div class="checkbox-container">
        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed" placeholder="Enter cat's breed" required>
      </div>
  
      <div class="checkbox-container">
        <label for="isAdopted">Adopted:</label>
        <input type="checkbox" id="isAdopted" name="isAdopted">
      </div>
  
      <div class="link-container">
        <a href="/">Home</a>
        <button type="submit">Add Cat</button>
      </div>
    </form>
  </div>
</body>
